*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header .logo {
    width: 200px;
    height: 90px;
}
header {
    display: flex;
    flex-direction: row;
    height: 75px;
}

.nav {
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: row;

}
.list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 0 16px 16px 0;
    background-color: #fff;
    overflow: hidden;
    margin-top: 20px;
    

}
.list-i {
    list-style: none;
    width: 100%;
   
   
}
.arrow .list-arrow {
    transform: rotate(90deg);

}
.list-arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list-i-click{
    
    position: relative;
    z-index: 1;
}
.list-b{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
    
}
.nav-link{
    color: rgb(18, 18, 92);
    display: block;
    padding: 10px 0;
    text-decoration: none;
   
}
.list-ins:hover {
    background-color: rgba(8, 13, 157, 0.178);

}
.list-show{
    width: 80%;
    list-style: none;
    margin-top: auto;
    border-left: 2px solid rgba(6, 39, 104, 0.234);
    transition: height .4s;
    height: 0px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.899);
   
    
}
#botonRojo  a {
    border-radius: 30px;
    border: 2px solid red;
    color: white;
    background-color: red;
    padding-left: 18px;
    width: 190px;
    height: 48px;
}

#botonRojo a:hover{
    background-color: whitesmoke;
    color: red;
    border: solid 1px white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.203);
   
}
.botonAzul a {
    border-radius: 30px;
    border: 2px solid rgb(6, 6, 86);
    color: white;
    background-color:rgb(6, 6, 86);
    padding-left: 38px;
    width: 170px;
    height: 48px;
}
.botonAzul a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color:rgba(6, 6, 86, 0.234);
    border: 2px solid rgba(6, 6, 86, 0.234);
    color: rgb(6, 6, 86);
}

.section1 img {
    height: 610px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
      }

.section1 {
    position: relative;
    width: 100%;
    height: 100vh;
}
.texto {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(197, 31, 31);
    font-size: 40px;
    border: solid rgba(255, 255, 255, 0.03) 1px;
    background-color: #ffffff44;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    width: 470px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 30px ;
    border: solid white 1px;
    font-size: 15px;
    padding: 20px;
    
}

button {
    padding: 5px 10px;
}
#lupa {
    width: 30px;
    height: 30px;
    margin: 8px 5px 5px 5px;
    
    
}
.buscador {
    display: flex;
    flex-direction: row;
}
 h3{
    position: absolute;
    top: 70%;
    right: 74%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(7, 9, 100);
    font-size: 20px;
    background-color: #ffffff44;
}
.linea-horizontal {
    width: auto; 
    height: 2px; 
    background-color: rgb(13, 20, 62); 
    margin: 10px 75px;
}
.container {
    max-width: 90%; 
    margin: 0 auto; 
}

.carousel-inner img {
    height: 650px;
    
    object-fit: cover; 
}
footer img {
    width: 150px;
    height: 130px;
}
.newss {
    width: 36px;
    height: 15px;
}

#iconoss{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    
}
#iconoss h5 a {
    margin: 10px;
    color: rgb(12, 12, 89);
}

.containerr {
    max-width: 94%; 
    margin: 0 auto; /* Centra el contenedor */ 
}

#error2 img {
    width: 90%;
    
    

}

#error1 {
    display: flex;
    flex-direction: row;
    
}
#error3 {
    padding-top: 50px;
}

#suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: black;
  }
  
  #suggestions li {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #suggestions li:hover {
    background-color: #e0e0e0;
  }
  

@media (max-width: 1000px) {
   
    .nav {
        display: none;
    }
    
}
